# This is a sample configuration for generic NVM prototype

# CAM
-DesignTarget: CAM
# EX/BE/TH (Exact Match/Best Match/Threshold Match)
-SearchFunction: EX
-ProcessNode: 45	
-DeviceRoadmap: HP
-Temperature (K): 350
-MemoryCellInputFile:./config/2FeFET_TCAM_DSE/2FeFET_TCAM_DSE.cell
-Capacity (MB): 2
-WordWidth (bit): 512

# H-tree/non-H-tree
-Routing: H-tree

-WithInputBuffer: No
-WithInputEnc: No
//-InputEncType: encoding_two_bit
-CustomInputEnc: No

-InternalSensing: true
# nvsim_vol/nvsim_cur/self_clock/dual_the
-TypeSenseAmp: nvsim_vol
-CustomSenseAmp: No

-WithWriteDriver: Yes
-WithOutputAcc: No
-WithPriorityEnc: No
-WithOutputBuffer: Yes

# ReadLatency/WriteLatency/ReadDynamicEnergy/WriteDynamicEnergy/ReadEDP/WriteEDP/LeakagePower/Area/Exploration
-OptimizationTarget: WriteDynamicEnergy
# LocalAggressive/LocalConservative/SemiAggressive/SemiConservative/GlobalAggressive/GlobalConservative
# RepeatedNone/RepeatedOpt/Repeated5%Penalty/Repeated10%Penalty/Repeated20%Penalty/Repeated30%PenaltyRepeated40%Penalty/Repeated50%Penalty
-LocalWireType: LocalConservative
-LocalWireRepeaterType: RepeatedNone
-LocalWireUseLowSwing: No
-GlobalWireType: GlobalAggressive
-GlobalWireRepeaterType: RepeatedNone
-GlobalWireUseLowSwing: No

# latency/area/balance
-BufferDesignOptimization: balance
-RowDriverOptimization: balance
-PriorityEncOptimization: balance

#

#-ForceBank (Total AxB, Active CxD): 1x1, 1x1
#-ForceMat (Total AxB, Active CxD): 1x1, 1x1
-ForceMuxSenseAmp: 1
# those are for write only, not for search or read
#-ForceMuxOutputLev1: 1
#-ForceMuxOutputLev2: 1



-AdditionalCapOnML (fF): 0


