# This is a sample configuration for generic NVM prototype
# JSSC11-2T2R-PCM

# CAM
-DesignTarget: CAM
# EX/BE/TH (Exact Match/Best Match/Threshold Match)
-SearchFunction: EX
-ProcessNode: 40
-DeviceRoadmap: HP
-Temperature (K): 350
-MemoryCellInputFile: ./config/ReRAM-2T2R/ReRAM-2T2R-VLSI21.cell
-Capacity (KB): 8
-WordWidth (bit): 256

# H-tree/non-H-tree
-Routing: H-tree

-WithInputBuffer: Yes
-WithInputEnc: 
//-InputEncType: encoding_two_bit
-CustomInputEnc: No

-InternalSensing: true
# nvsim_vol/nvsim_cur/self_clock/dual_the
-TypeSenseAmp: nvsim_vol
-CustomSenseAmp: 

-WithWriteDriver: Yes
-WithOutputAcc: No
-WithPriorityEnc: Yes
-WithOutputBuffer: Yes

# ReadLatency/WriteLatency/ReadDynamicEnergy/WriteDynamicEnergy/ReadEDP/WriteEDP/LeakagePower/Area/Exploration
-OptimizationTarget: ReadLatency
# LocalAggressive/LocalConservative/SemiAggressive/SemiConservative/GlobalAggressive/GlobalConservative
# RepeatedNone/RepeatedOpt/Repeated5%Penalty/Repeated10%Penalty/Repeated20%Penalty/Repeated30%PenaltyRepeated40%Penalty/Repeated50%Penalty
-LocalWireType: LocalAggressive
-LocalWireRepeaterType: RepeatedNone
-LocalWireUseLowSwing: No
-GlobalWireType: GlobalAggressive
-GlobalWireRepeaterType: RepeatedNone
-GlobalWireUseLowSwing: No

# latency/area/balance
-BufferDesignOptimization: latency
-RowDriverOptimization: latency
-PriorityEncOptimization: latency

-ForceBank (Total AxB, Active CxD): 1x1, 1x1
-ForceMat (Total AxB, Active CxD): 1x8, 1x8
-ForceMuxSenseAmp: 1
-ForceMuxOutputLev1: 8
-ForceMuxOutputLev2: 1





////////////////////////////////////////////////////////////////////////////////////////
//-MaxNmosSize (F): 10
# Normal/Fast/Sequential
//-CacheAccessMode: Sequential
//-Associativity (for cache only): 4

# SetBeforeReset/ResetBeforeSet/EraseBeforeSet/EraseBeforeReset/WriteAndVerify
//-WriteScheme: SetBeforeReset

//-MaxDriverCurrent (uA): 

//-FlashPageSize (Byte): 
//-FlashBlockSize (KB): 

//-EnablePruning: Yes
//-OutputFilePrefix: sram

//-UseCactiAssumption: Yes

//-ApplyReadLatencyConstraint: 37.4
//-ApplyWriteLatencyConstraint: 0.5
//-ApplyReadDynamicEnergyConstraint: 0.5
//-ApplyWriteDynamicEnergyConstraint: 0.5
//-ApplyLeakageConstraint: 0.5
//-ApplyAreaConstraint: 1
//-ApplyReadEdpConstraint: 0.5
//-ApplyWriteEdpConstraint: 0.5

