# This is a sample configuration for generic NVM prototype
# 1T1R-MRAM-APL11

# CAM
-DesignTarget: CAM
# EX/BE/TH (Exact Match/Best Match/Threshold Match)
-SearchFunction: EX
-ProcessNode: 28
-DeviceRoadmap: HP
-Temperature (K): 350
-MemoryCellInputFile: ./config/10T-BCAM/10T-BCAM_28nm.cell
-Capacity (KB): 32
-WordWidth (bit): 32

# H-tree/non-H-tree
-Routing: H-tree

-WithInputBuffer: Yes
-WithInputEnc: No
-CustomInputEnc: No

-InternalSensing: true
# nvsim_vol/nvsim_cur/self_clock/dual_the
-TypeSenseAmp: nvsim_vol
-CustomSenseAmp: No
			
-WithWriteDriver: No
-WithOutputAcc: No
-WithPriorityEnc: No
-WithOutputBuffer: Yes

# ReadLatency/WriteLatency/ReadDynamicEnergy/WriteDynamicEnergy/ReadEDP/WriteEDP/LeakagePower/Area/Exploration
-OptimizationTarget: Area
# LocalAggressive/LocalConservative/SemiAggressive/SemiConservative/GlobalAggressive/GlobalConservative
# RepeatedNone/RepeatedOpt/Repeated5%Penalty/Repeated10%Penalty/Repeated20%Penalty/Repeated30%PenaltyRepeated40%Penalty/Repeated50%Penalty
-LocalWireType: LocalConservative
-LocalWireRepeaterType: RepeatedNone
-LocalWireUseLowSwing: No
-GlobalWireType: GlobalAggressive
-GlobalWireRepeaterType: RepeatedNone
-GlobalWireUseLowSwing: No

# latency/area/balance
-BufferDesignOptimization: latency
-RowDriverOptimization: latency
-PriorityEncOptimization: latency

 -ForceBank (Total AxB, Active CxD): 1x1, 1x1
 -ForceMat (Total AxB, Active CxD): 8x8, 8x8
-ForceMuxSenseAmp: 1
# those are for write only, not for search or read
-ForceMuxOutputLev1: 1
-ForceMuxOutputLev2: 1



